.u-section-1 {
  background-image: url("images/bac.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1242px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 66px 247px 0 233px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 472px 0 432px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 31px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 380px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  line-height: 1;
  font-weight: 400;
  font-size: 6rem;
  margin: -14px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 2.25rem;
  margin: 32px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 18px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 380px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  line-height: 1;
  font-weight: 400;
  font-size: 6rem;
  margin: -14px 0 0;
}

.u-section-1 .u-text-7 {
  font-size: 2.25rem;
  margin: 32px 0 0;
}

.u-section-1 .u-text-8 {
  margin: 18px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 380px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-9 {
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  margin: -14px 11px 0 -11px;
}

.u-section-1 .u-text-10 {
  font-size: 2.25rem;
  margin: 32px 0 0;
}

.u-section-1 .u-text-11 {
  margin: 18px 0 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: 66px;
  margin-bottom: 32px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 380px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-12 {
  line-height: 1;
  font-weight: 400;
  font-size: 6rem;
  margin: -14px 0 0;
}

.u-section-1 .u-text-13 {
  font-size: 2.25rem;
  margin: 32px 0 0;
}

.u-section-1 .u-text-14 {
  margin: 18px 0 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: none none solid;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 380px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-15 {
  line-height: 1;
  font-weight: 400;
  font-size: 6rem;
  margin: -14px 0 0;
}

.u-section-1 .u-text-16 {
  font-size: 2.25rem;
  margin: 32px 0 0;
}

.u-section-1 .u-text-17 {
  margin: 18px 0 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  border-style: none none solid;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 380px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-18 {
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  margin: -14px 11px 0 -11px;
}

.u-section-1 .u-text-19 {
  font-size: 2.25rem;
  margin: 32px 0 0;
}

.u-section-1 .u-text-20 {
  margin: 18px 0 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  border-style: none none solid;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 890px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 133px;
    margin-right: 147px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 332px;
    margin-right: 372px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 313px;
  }

  .u-section-1 .u-btn-1 {
    width: 112px;
    height: 27px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 313px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 313px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 313px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 313px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 313px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 23px;
    margin-right: 37px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 222px;
    margin-right: 262px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 282px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 664px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 132px;
    margin-right: 172px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 3rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-left: 32px;
    margin-right: 72px;
  }

  .u-section-1 .u-text-4 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-10 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-12 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-13 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-15 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-16 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-18 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-19 {
    font-size: 1.5rem;
  }
}